@import "/src/styles/variables.scss";

.aboutCourse_button {
  position: static;
  background-color: $pink;
  min-width: 247px;
  & .aboutCourse_leaveARequest {
    // & div {
    //   line-height: 0.7;
    //   top: 0px;
    // }
  }
}
.aboutCourseWrapper {
  display: flex;
  gap: 54px;
}
.aboutCourseWrapperContentWrapper {
  display: flex;
  align-items: center;
  padding: 0px 5px 30px 0;
  text-align: left;

  &:not(:first-child) {
    padding-top: 30px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $mainTextColor;
  }

  & p {
    line-height: 25px;
  }
  & h3 {
    font-size: 30px;
    text-transform: uppercase;
    min-width: 270px;
    margin-right: 40px;
  }
}
.aboutCourseSubTitle {
  position: relative;
  white-space: nowrap;
}

.aboutCourseSubTitle_elipse::before {
  left: -10%;
  top: 0;
  border: 4px solid $pink;
  transform: matrix(0.99, -0.02, 0.17, 1, 0, 0);
}

.aboutCourseSubTitle_elipse::after {
  left: -10%;
  top: 0;
  border: 4px solid $pink;
  transform: matrix(0.97, -0.08, 0.27, 1, 0, 0);
}

@media (max-width: 1160px) {
  .aboutCourseWrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .aboutCourseWrapperContentWrapper {
    & h3 {
      min-width: 50%;
      margin-right: 0;
      padding-right: 20px;
    }
    & p {
      padding: 0 7px;
    }
  }
  .aboutCourse_button {
    min-width: 0;
  }
}

@media (max-width: 1025px) {
  .aboutCourseWrapperContentWrapper {
    align-items: self-start;
    & p {
      font-size: 14px;
    }
  }
}
@media (max-width: 833px) {
  // .aboutCourseSubTitle_elipse::after {
  //   left: 16.39%;
  //   right: 16.04%;
  //   top: 30.01%;
  //   bottom: 51.2%;
  //   transform: matrix(0.98, -0.1, 0.22, 0.99, 0, 0);
  //   width: 68vw;
  //   height: 13.5vw;
  // }
  // .aboutCourseSubTitle_elipse::before {
  //   left: 15.46%;
  //   right: 14.63%;
  //   top: 25.85%;
  //   bottom: 51.36%;
  //   transform: matrix(0.99, -0.03, 0.14, 1, 0, 0);
  //   width: 70vw;
  //   height: 13.5vw;
  // }
  .aboutCourseSubTitle {
    padding-left: 0;
    padding-right: 0;
  }
  .aboutCourseWrapperContentWrapper {
    padding-bottom: 15px;
    & p {
      font-size: 12px;
    }
  }
}
@media (max-width: 695px) {
  .aboutCourse_button {
    & .aboutCourse_leaveARequest {
      font-size: 14px;
      // & div {
      //   line-height: 2.4;
      //   top: -9px;
      // }

      // & div {
      //   line-height: 0.4;
      //   top: -20px;
      // }
    }
  }
  // .aboutCourse_button {
  //   & .aboutCourse_leaveARequest {
  //     & div {
  //       line-height: 2.9;
  //     }
  //   }
  // }
  // .aboutCourse_button {
  //   & .aboutCourse_leaveARequest {
  //     & div {
  //       line-height: 2.9;
  //     }
  //   }
  // }
}
@media (max-width: 625px) {
  .aboutCourseWrapperContentWrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-right: 0;
    padding-bottom: 30px;
    & p {
      padding: 0 20px;
      line-height: 16px;
    }
    & h3 {
      min-width: 0;
      padding-bottom: 15px;
      padding-right: 0;
      font-size: 18px;
    }
    &:not(:last-child) {
      border: none;
    }
    &:not(:first-child) {
      padding-top: 0;
    }
  }

  // .aboutCourseSubTitle_elipse::after {
  //   left: 13.39%;
  //   top: 15.01%;
  // }
  // .aboutCourseSubTitle_elipse::before {
  //   left: 13.46%;
  //   top: 17.85%;
  // }
}

@media (max-width: 475px) {
  // .aboutCourseSubTitle_elipse::after {
  //   left: 0.39%;
  //   top: 24.01%;
  //   width: 86vw;
  //   height: 15.5vw;
  // }
  // .aboutCourseSubTitle_elipse::before {
  //   left: 3.46%;
  //   top: 23.85%;
  //   width: 86vw;
  //   height: 16.5vw;
  // }
}
// left: 13.46%;
// right: 14.63%;
// top: 17.85%;
// bottom: 51.36%;
// transform: matrix(0.99, -0.03, 0.14, 1, 0, 0);
// width: 70vw;
// height: 13.5vw;
