@import "/src/styles/variables.scss";

.aboutUs {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  z-index: 2;
  // overflow-x: hidden;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}
.abouteUsImgWrapper {
  display: flex;
  align-items: flex-end;
}
.aboutUs_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutUs_subTitle {
  white-space: nowrap;
}

.aboutUs_text_description {
  display: flex;
  flex-direction: row;
  gap: 40px;
  line-height: 25px;
  font-size: 15px;
  padding: 0 20px 25px 35px;
  margin-bottom: 25px;
  text-align: left;
}

.aboutUs_button {
  background-color: $blue;
  position: static;
  z-index: 2;
  margin-bottom: 146px;
  &:hover {
    box-shadow: 0 0 15px 10px rgba($blue, 0.4);
  }
  & .imgWrapper {
    left: 5px;
  }
}

.abouteUsImg {
  & img {
    // width: 33%;
    width: 27.4vw;
    min-width: 350px;
    border-radius: 25px;
    height: 100%;
  }
}
.abouteUsImgLeft {
  height: 540px;
  transform: translate(0px, -75px);
}
.abouteUsImgRight {
  height: 588px;
}

.aboutUs_subTitle_elipse {
  position: relative;
  &::before {
    left: -10%;
    top: 7%;
    transform: matrix(0.98, -0.1, 0.22, 0.99, 0, 0);
    border: 4px solid $pink;
  }
  &::after {
    left: -10%;
    top: 0;
    transform: matrix(0.99, -0.03, 0.14, 1, 18, 5);
    border: 4px solid $pink;
  }
}
// .aboutUs_subTitle_elipse::after {
//   left: -10%;
//   top: 0;
//   transform: matrix(0.99, -0.03, 0.14, 1, 18, 5);
//   border: 4px solid $pink;
// }
.aboutUs_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  & ul li {
    margin-bottom: 10px;
    &::marker {
      content: "- ";
    }
  }
}

@media (max-width: 1160px) {
  .abouteUsImg {
    & img {
      // width: 33%;
      width: 27.4vw;
      min-width: 240px;
      border-radius: 25px;
      // height: 100%;
      height: 120%;
    }
  }
  // .aboutUs_subTitle {
  //   padding-bottom: 30px;
  // }
  .aboutUs_button {
    margin-bottom: 0;
  }
  .abouteUsImgWrapper {
    align-items: center;
  }
  .abouteUsImgLeft {
    height: 360px;
    transform: translate(-26px, 111px);
  }
  .abouteUsImgRight {
    height: 360px;
    transform: translate(24px, 150px);
  }
  .aboutUs_text_description {
    flex-direction: column;
    gap: 0;
    padding-left: 30px;
    padding-right: 3.5vw;
    font-size: 14px;
  }
}

@media (max-width: 833px) {
  .abouteUsImg {
    & img {
      width: 33%;
      min-width: 180px;
      border-radius: 25px;
      height: 100%;
    }
  }
  .abouteUsImgLeft {
    height: 252px;
    margin-bottom: 60px;
  }
  .abouteUsImgRight {
    height: 242px;
  }
  // .aboutUs_subTitle_elipse::after {
  //   left: 18.15%;
  //   right: 19.28%;
  //   top: 7.3%;
  //   bottom: 88.52%;
  //   transform: matrix(0.99, -0.03, 0.15, 1, 0, 0);
  //   width: 62.7vw;
  //   height: 11.3vw;
  // }
  // .aboutUs_subTitle_elipse::before {
  //   left: 18.98%;
  //   right: 20.58%;
  //   top: 6.6%;
  //   bottom: 88.38%;
  //   width: 60vw;
  //   height: 11.3vw;
  //   transform: matrix(0.97, -0.09, 0.24, 1, 0, 0);
  // }
}

@media (max-width: 695px) {
  .aboutUs_button {
    .watchVideo {
      font-size: 14px;
    }
  }
}

@media (max-width: 625px) {
  .abouteUsImgWrapper {
    display: none;
  }
  .aboutUs {
    flex-direction: column;
    // padding-left: 22px;
    // padding-right: 22px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .abouteUsImgRight {
    position: absolute;
    min-height: 183px;
    max-height: 215px;
    min-width: 100%;
    padding: 0 $mobileContainerPadding + px;
    transform: translate(0px, 150px);
    & img {
      width: 100%;
      transform: translate(0, 0);
      object-fit: cover;
      object-position: 0 61%;
    }
  }
  .aboutUs_text_description {
    width: 100%;
    flex-direction: column;
    padding-top: 220px;
    padding: 220px 0 0 10px;
  }

  // .aboutUs_subTitle_elipse::after {
  //   left: 32.47%;
  //   left: 25vw;
  //   right: 11.13%;
  //   top: 5.84%;
  //   bottom: 90.83%;
  //   transform: matrix(0.99, -0.03, 0.14, 1, 0, 0);
  //   width: calc(49% + 8vw);
  //   height: 9vw;
  // }
  // .aboutUs_subTitle_elipse::before {
  //   left: 32.5%;
  //   left: 26vw;
  //   right: 12.69%;
  //   top: 5.75%;
  //   bottom: 90.73%;
  //   transform: matrix(0.98, -0.1, 0.22, 0.99, 0, 0);
  //   width: calc(50% + 8vw);
  //   height: 9vw;
  // }
}
@media (max-width: 400px) {
  .aboutUs_text_description {
    padding-top: 185px;
  }

  .abouteUsImgRight {
    max-height: 183px;
    & img {
      object-position: 0 51%;
    }
  }
  // .aboutUs_subTitle_elipse::after {
  //   left: 14.47%;
  //   right: 11.13%;
  //   top: 4.84%;
  //   bottom: 90.83%;
  //   transform: matrix(0.99, -0.03, 0.14, 1, 0, 0);
  //   width: 290.26px;
  //   height: 55.72px;
  // }
  // .aboutUs_subTitle_elipse::before {
  //   left: 17.5%;
  //   right: 12.69%;
  //   top: 4.75%;
  //   bottom: 90.73%;
  //   transform: matrix(0.98, -0.1, 0.22, 0.99, 0, 0);
  //   height: 55.72px;
  //   width: 280.53px;
  // }
}
