@import "/src/styles/variables.scss";

.aboutСertificate_button {
  position: absolute;
  background-color: $pink;
  top: calc(100% - 123.5px);
  & .certificate {
    & div {
      line-height: 1.2;
      top: 2px;
    }
  }
}
.aboutСertificate_subTitle_elipse::before {
  left: -10%;
  top: 0;
  transform: matrix(0.98, -0.1, 0.23, 0.99, 0, 0);
  border: 4px solid $pink;
}

.aboutСertificate_subTitle_elipse::after {
  left: -10%;
  top: 0;
  transform: matrix(0.99, -0.03, 0.15, 1, 0, 0);
  border: 4px solid $pink;
}

.aboutСertificate {
  & .form_subTitle {
    max-width: none;
  }
  & .form_elements {
    padding-bottom: 123.5px;
    padding-right: 6vw;
    padding-left: 3.4vw;

    & h3 {
      font-size: 30px;
      padding-bottom: 20px;
      text-transform: uppercase;
    }
    & .form_elements_content {
      padding-bottom: 25px;
      margin-bottom: 25px;
      & div {
        & p {
          line-height: 25px;
          font-size: 15px;
        }
        &:last-child {
          display: none;
        }
        &:not(:nth-last-child(-n + 2)) {
          padding-bottom: 40px;
        }
      }
    }
  }
}
@media (max-width: 1160px) {
  .aboutСertificate {
    & .form_elements {
      padding: 0;
      align-items: center;
      // & h3 {
      //   font-size: 30px;
      //   padding-bottom: 20px;
      // }
      & .form_elements_content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15vw;
        justify-content: space-between;
        // &:nth-child(odd) {
        //   gap: 30px;
        // }
        & div {
          flex: 0 0 44%;
          // margin-right: 20px;
          &:last-child {
            display: block;
          }
          &:not(:nth-last-child(-n + 2)) {
            padding-bottom: 40px;
          }
          & p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .aboutСertificate_button {
    top: 100%;
  }
}
@media (max-width: 833px) {
  .aboutСertificate {
    & .form_elements {
      & h3 {
        font-size: 24px;
        // padding-bottom: 20px;
      }
    }
  }
}
@media (max-width: 700px) {
  .aboutСertificate_button {
    & .certificate {
      & div {
        line-height: 0.7;
        top: -19px;
      }
    }
  }
  // .aboutСertificate_button {
  //   & .certificate {
  //     & div {
  //       line-height: 3.5;
  //       top: 0px;
  //     }
  //   }
  // }
}
@media (max-width: 625px) {
  .aboutСertificate {
    & .form_elements {
      padding: 0;
      align-items: center;
      & h3 {
        font-size: 18px;
        padding-bottom: 15px;
      }
      & .form_elements_content {
        flex-direction: column;
        text-align: center;
        padding: 0px 74px;
        & div {
          width: 100%;
          &:not(:last-child) {
            padding-bottom: 40px;
          }
          &:last-child {
            padding-bottom: 25px;
          }
          // & p {
          //   font-size: 12px;
          // }
        }
      }
    }
  }
}
