@import "/src/styles/variables.scss";

.accordionWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.accordionWrapper:not(:first-child){
 & .accordionConteiner{
   border-bottom: 1px solid $mainTextColor;
 }
}
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 30px 0 34px 0;
  width: 100%;
  text-align: left;
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  // transition: max-height 1s ease;
}
.panel {
  width: 100%;
  position: relative;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height .65s ease-in-out;
  & .workshopTitle {
    padding: 30px 27px 34px 0;
  }
  & p {
    font-size: 16px;
    color: $mainTextColor;
  }
}


.panelImg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(15.23deg);
  & img {
    width: 215px;
    height: 215px;
    border: none;
    border-radius: 50%;
  }
}

.accordion:after {
  content: '\02795';
  /* Символ юникода знак (+) */
  position: absolute;
  right: 0;
  font-size: 13px;
  color: $mainTextColor;
  float: right;
  margin-left: 5px;
}

.active{
  &:after {
    content: "\2796"; 
  }
}
.workshopTitleContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.accordionVisiblePart,
.accordionVisiblePartWrapper {
  display: flex;
  align-items: center;
}

.accordionVisiblePart {
  // justify-content: space-between;
  width: 100%;
  // column-gap: 35px;
}

.accordionVisiblePartWrapper {
  width: 50%;
  padding-right: 3rem;

  // justify-content: space-between;
  & .timetableDate {
    min-width: 30%;
    }
}

.workshopTitle {
  display: flex;
  padding-right: 27px;

  // justify-content: space-between;
  & span {
    margin-right: 30px;
  }
}


.panelWrapper {
  display: flex;
  // column-gap: 35px;
}

.timetableDayOfTheWeek {
  text-transform: uppercase;
  font-size: 30px;
}


@media (max-width: 833px) {
  .timetableDayOfTheWeek {
    font-size: 24px;
  }

  .panelImg {
    & img {
      width: 200px;
      height: 200px;
    }
  }

  .workshopTitle {
    font-size: 14px;

    & span {
      margin-right: 25px;
    }
  }
}

@media (max-width: 625px) {
  .timetableDayOfTheWeek {
    font-size: 18px;
  }

  .panelImg {
    & img {
      width: 115px;
      height: 115px;
    }
  }

  .workshopTitle {
    font-size: 12px;

    & span {
      margin-right: 25px;
    }
  }

}
