@import "/src/styles/variables.scss";

.accordionWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.accordionWrapper:not(:first-child) {
  & .accordionConteiner {
    border-bottom: 1px solid $mainTextColor;
  }
}
.timetableDate {
  font-size: 15px;
  font-weight: 400;
}
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 30px 0 34px 0;
  width: 100%;
  text-align: left;
  outline: none;
  display: flex;
  align-items: center;
  border: none;
}

.panel {
  width: 100%;
  position: relative;
  bottom: 35px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.65s ease-in-out;

  & .workshopTitle {
    width: 100%;
    padding: 10px 27px 10px 0;
  }

  & p {
    font-size: 15px;
    color: $mainTextColor;
  }
}

.panelImg {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: rotate(15.23deg);
  transform-origin: 71% -130%;
  & img {
    width: 215px;
    height: 215px;
    border: none;
    border-radius: 50%;
  }
}

.accordion:after {
  content: "\02795";
  /* Символ юникода знак (+) */
  position: absolute;
  right: 0;
  font-size: 13px;
  color: $mainTextColor;
  float: right;
  margin-left: 5px;
}

.accordion {
  &.active {
    &:after {
      content: "\2796";
    }
  }
}
.workshopTitleContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 66px;
}

.accordionVisiblePart,
.accordionVisiblePartWrapper {
  display: flex;
  align-items: center;
}

.accordionVisiblePart {
  width: 100%;
}

.accordionVisiblePartWrapper {
  width: 50%;
  justify-content: space-between;
  padding-right: 3rem;
}

.workshopTitle {
  display: flex;
  padding-right: 27px;
  line-height: 25px;
  align-items: center;
  width: 50%;
  & span {
    margin-right: 10px;
    min-width: 58.16px;
  }
}

.panelWrapper {
  display: flex;
  // column-gap: 35px;
}

.timetableDayOfTheWeek {
  text-transform: uppercase;
  font-size: 30px;
  min-width: 250px;
  text-align: start;
}

@media (max-width: 833px) {
  .timetableDayOfTheWeek {
    font-size: 24px;
    min-width: 199px;
  }
  .accordion {
    padding-top: 15px;
  }
  .timetableDate {
    font-size: 14px;
  }

  .panelImg {
    transform-origin: 48% 0%;
    & img {
      width: 200px;
      height: 200px;
    }
  }

  .workshopTitle {
    font-size: 14px;

    & span {
      margin-right: 25px;
    }
  }
}

@media (max-width: 625px) {
  .accordion {
    padding: 15px 0;
  }
  .workshopTitleContainer {
    width: 100%;
    padding-bottom: 0;
    & .workshopTitle {
      justify-content: space-between;
    }
  }
  .panel {
    position: static;
  }
  .timetableDayOfTheWeek {
    font-size: 18px;
  }
  .accordionVisiblePartWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .timetableDate {
    font-size: 12px;
  }
  .accordionVisiblePart {
    & .workshopTitle {
      display: none;
    }
  }
  .panelWrapper {
    position: relative;
  }
  .panelImg {
    transform-origin: 0 0;
    position: absolute;
    /* top: 86px; */
    right: 0;
    bottom: 0;
    bottom: 34%;
    left: 3vw;
    & img {
      width: 115px;
      height: 115px;
    }
    // position: absolute;
  }

  .workshopTitle {
    font-size: 12px;

    & span {
      margin-right: 25px;
    }
  }

  .workshopTitle {
    & span {
      min-width: 50%;
    }
    & .workshopTitleText {
      margin: 0;
      padding-right: 15px;
    }
  }
}

@media (max-width: 455px) {
  .panelImg {
    left: calc(3vw + 3%);
  }
}
