@import "/src/styles/variables.scss";
.mobileSubTitle {
  display: none;
}
.artParty {
  position: relative;
  padding-top: 30px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  & h3 {
    padding-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }
}
.artPartyContentWrapper_partWrapper {
  display: flex;
}
.artPartyContentWrapper {
  display: flex;
  position: relative;
  justify-content: center;
}
.artParty_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.artPartyImg {
  height: min-content;
  & img {
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: 100%;
    border-radius: 30px;
  }
}
.artPartyDescription {
  gap: 0;
  flex-direction: column;
  padding: 0 28px 25px 55px;
  & li {
    &::marker {
      content: "- ";
    }
    &:not(:last-child) {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}
.artPartyImgRight {
  transform: translateY(-40%);
}
.artParty_button {
  position: static;
  background-color: $pink;
  min-width: 250px;
  & .booking {
    & div {
      line-height: 0;
      top: -5px;
    }
  }
}
.artParty_subTitle_elipse::before {
  border: 4px solid $blue;
  left: -7%;
  top: 0%;
  transform: matrix(0.98, -0.1, 0.23, 0.99, 0, 0);
}

.artParty_subTitle_elipse::after {
  left: -10%;
  top: 0%;
  transform: matrix(0.99, -0.03, 0.15, 1, 0, 0);
  border: 4px solid $blue;
}
@media (max-width: 1260px) {
  .artPartyImgRight {
    transform: translateY(0);
    display: flex;
    height: 100%;
    align-items: end;
  }
}
@media (max-width: 900px) {
  .artPartyImgRight {
    transform: translateY(-125px);
  }
  .artPartyDescription {
    padding-left: 35px;
    padding-right: 10px;
  }
}
@media (max-width: 833px) {
  .artParty {
    & h3 {
      font-size: 24px;
      padding-bottom: 30px;
    }
  }
  // .artParty_subTitle_elipse::before {
  //   border: 4px solid $blue;
  //   left: 13.62%;
  //   right: 14.79%;
  //   top: -31.15%;
  //   bottom: 27.35%;
  //   transform: matrix(0.98, -0.1, 0.23, 0.99, 0, 0);
  //   width: 70vw;
  //   height: 12vw;
  // }

  // .artParty_subTitle_elipse::after {
  //   border: 4px solid $blue;
  //   left: 13.62%;
  //   right: 14.79%;
  //   top: -51.15%;
  //   bottom: 27.35%;
  //   transform: matrix(0.98, -0.09, 0.23, 0.99, 0, 0);
  //   width: 551.28px;
  //   height: 102px;
  //   width: 532.62px;
  //   height: 12vw;
  //   width: 71vw;
  // }
}
@media (max-width: 800px) {
  .artPartyImgRight {
    margin-right: -28px;
  }
  .artPartyImgLeft {
    margin-left: -28px;
  }
}
@media (max-width: 695px) {
  .artParty_button {
    min-width: auto;
    & .booking {
      & div {
        line-height: 1.5;
        top: -17px;
      }
      // & div {
      //   line-height: 0;
      //   top: -24px;
      // }
    }
    // & .booking {
    //   & div {
    //     line-height: 2.4;
    //     top: -6px;
    //   }
    // }
  }
  .artPartyImgRight {
    transform: translateY(-92px);
  }
}

@media (max-width: 625px) {
  h2 + h3 {
    display: none;
  }

  .artParty {
    & .mobileSubTitle {
      display: block;
      font-size: 22px;
    }
  }
  .artPartyImgRight {
    display: none;
  }
  .artPartyContentWrapper_partWrapper {
    display: block;
  }
  .artPartyDescription {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .artPartyContentWrapper {
    flex-direction: column;
  }
  .artPartyImg {
    // height: 300px;
    margin-left: 0;
    margin-bottom: 15px;
    height: calc(129px + 32vw);
    padding: 0 $mobileContainerPadding + px;

    & img {
      width: 100%;
      border-radius: 30px;
      height: 100%;
      object-fit: cover;
      object-position: 50% 60%;
    }
  }
  .artParty_wrapper {
    row-gap: 50px;
  }
}
@media (max-width: 540px) {
  .artParty {
    & .mobileSubTitle {
      font-size: 18px;
    }
  }
  // .artParty_subTitle_elipse::before {
  //   left: 3.39%;
  //   right: 5.24%;
  //   top: -9.37%;
  //   bottom: 28.73%;
  //   transform: matrix(0.98, -0.1, 0.23, 0.99, 0, 0);
  //   width: 86vw;
  //   height: 12vw;
  // }

  // .artParty_subTitle_elipse::after {
  //   left: 2.13%;
  //   right: 3.32%;
  //   top: -9.49%;
  //   bottom: 28.86%;
  //   transform: matrix(0.99, -0.03, 0.14, 1, 0, 0);
  //   width: 89vw;
  //   height: 12vw;
  // }
}
