@import "/src/styles/variables.scss";

.elipseBlue {
  background: rgb(22, 26, 239);
  background: -moz-radial-gradient(
    65% 45%,
    rgba(22, 26, 239, 1) 24%,
    rgba(22, 26, 239, 0.2) 61%,
    rgba(22, 26, 239, 0) 97%
  );
  background: -webkit-radial-gradient(
    65% 45%,
    rgba(22, 26, 239, 1) 24%,
    rgba(22, 26, 239, 0.2) 61%,
    rgba(22, 26, 239, 0) 97%
  );
  background: radial-gradient(
    65% 45%,
    rgba(22, 26, 239, 0.6) 24%,
    rgba(22, 26, 239, 0.2) 61%,
    rgba(22, 26, 239, 0) 97%
  );
}

.elipsePink {
  background: rgb(255, 30, 152);
  background: -moz-radial-gradient(
    65% 45%,
    rgba(255, 30, 152, 0.6) 24%,
    rgba(255, 30, 152, 0.2) 61%,
    rgba(255, 30, 152, 0) 97%
  );
  background: -webkit-radial-gradient(
    65% 45%,
    rgba(255, 30, 152, 0.6) 24%,
    rgba(255, 30, 152, 0.2) 61%,
    rgba(255, 30, 152, 0) 97%
  );
  background: radial-gradient(
    65% 45%,
    rgba(255, 30, 152, 0.6) 24%,
    rgba(255, 30, 152, 0.2) 61%,
    rgba(255, 30, 152, 0) 97%
  );
}
.elipsePurple {
  background: rgb(133, 9, 166);
  background: -moz-radial-gradient(
    65% 45%,
    rgba(133, 9, 166, 0.6) 24%,
    rgba(133, 9, 166, 0.2) 61%,
    rgba(133, 9, 166, 0) 97%
  );
  background: -webkit-radial-gradient(
    65% 45%,
    rgba(133, 9, 166, 0.6) 24%,
    rgba(133, 9, 166, 0.2) 61%,
    rgba(133, 9, 166, 0) 97%
  );
  background: radial-gradient(
    65% 45%,
    rgba(133, 9, 166, 0.6) 24%,
    rgba(133, 9, 166, 0.2) 61%,
    rgba(133, 9, 166, 0) 97%
  );
}
// .elipseBlue {
//   background: rgb(22, 26, 239);
//   background: -moz-radial-gradient(
//     65% 45%,
//     rgba(22, 26, 239,1) 24%,
//     rgba(22, 26, 239, 0.2) 61%,
//     rgba(22, 26, 239, 0) 97%
//   );
//   background: -webkit-radial-gradient(
//     65% 45%,
//     rgba(22, 26, 239,1) 24%,
//     rgba(22, 26, 239, 0.2) 61%,
//     rgba(22, 26, 239, 0) 97%
//   );
//   background: radial-gradient(
//     65% 45%,
//     rgba(22, 26, 239,1) 24%,
//     rgba(22, 26, 239, 0.2) 61%,
//     rgba(22, 26, 239, 0) 97%
//   );
// }

// .elipsePink {
//   background: rgb(255, 30, 152);
//   background: -moz-radial-gradient(
//     65% 45%,
//     rgba(255, 30, 152, 1) 24%,
//     rgba(255, 30, 152, 0.2) 61%,
//     rgba(255, 30, 152, 0) 97%
//   );
//   background: -webkit-radial-gradient(
//     65% 45%,
//     rgba(255, 30, 152, 1) 24%,
//     rgba(255, 30, 152, 0.2) 61%,
//     rgba(255, 30, 152, 0) 97%
//   );
//   background: radial-gradient(
//     65% 45%,
//     rgba(255, 30, 152, 1) 24%,
//     rgba(255, 30, 152, 0.2) 61%,
//     rgba(255, 30, 152, 0) 97%
//   );
// }
// .elipsePurple {
//   background: rgb(133, 9, 166);
//   background: -moz-radial-gradient(
//     65% 45%,
//     rgba(133, 9, 166, 1) 24%,
//     rgba(133, 9, 166, 0.2) 61%,
//     rgba(133, 9, 166, 0) 97%
//   );
//   background: -webkit-radial-gradient(
//     65% 45%,
//     rgba(133, 9, 166, 1) 24%,
//     rgba(133, 9, 166, 0.2) 61%,
//     rgba(133, 9, 166, 0) 97%
//   );
//   background: radial-gradient(
//     65% 45%,
//     rgba(133, 9, 166, 1) 24%,
//     rgba(133, 9, 166, 0.2) 61%,
//     rgba(133, 9, 166, 0) 97%
//   );
// }

.ellipseContainer {
  position: absolute;
  z-index: -199;
  width: 100%;
  height: 1198px;
  overflow: hidden;
  background: transparent;
  mix-blend-mode: unset;
  // isolation: isolate;
}

#canvas,
.canvas,
canvas {
  z-index: 4;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  border: 0;
  filter: blur(0);
}

.elipseBlue,
.elipsePink,
.elipsePurple {
  position: absolute;
  border: 0;
  border-radius: 50%;
}

#ellipseContainerHeader {
  // background: black;
  // mix-blend-mode: screen;
  // & .bgNoise {
  //   background-image: url("../images/blurAndNoise/noise.svg");
  //   width: 100%;
  //   height: 100%;
  //   background-color: black;
  //   position: relative;
  //   z-index: 6;
  //   mix-blend-mode: soft-light;
  // }
  & .elipseBlue {
    left: -15%;
    z-index: 2;
    transform: rotate(285deg);
    width: 76vw;
    height: 165%;
    top: calc(-33% - 5vw);
  }
  & .elipsePink {
    width: 120%;
    height: 959px;
    left: -13%;
    top: -29%;
  }
  & .elipsePurple {
    left: 49%;
    width: 54vw;
    height: 155%;
    top: calc(-23% - 5vw);
    transform: rotate(254deg);
  }
}

@media (max-width: 1160px) {
  #ellipseContainerHeader {
    & .elipseBlue {
      left: 12%;
      top: -36%;
      transform: rotate(42deg);
      width: 115%;
      height: 106%;
    }
    & .elipsePink {
      width: 121%;
      height: 104%;
      left: -10%;
      top: 0%;
      z-index: 3;
    }
    & .elipsePurple {
      z-index: 2;
      top: -30%;
      left: -28%;
      transform: rotate(130deg);
      width: 105%;
      height: 96%;
    }
  }
}
@media (max-width: 654px) {
  #ellipseContainerHeader {
    & .elipsePink {
      height: 76%;
    }
    & .elipseBlue {
      left: 0%;
      width: 145%;
    }
    & .elipsePurple {
      height: 89%;
      width: 87%;
    }
  }
}

.workshops {
  & .ellipseContainer {
    height: 131%;
    left: 0;
    top: -25%;
  }
  .elipseBlue {
    left: -15%;
    top: 3%;
    width: 64%;
    height: 70%;
    transform: rotate(219deg);
  }

  .elipsePink {
    left: -15%;
    top: 40%;
    width: 72%;
    height: 56%;
  }

  .elipsePurple {
    top: 26%;
    left: -23%;
    width: 82%;
    height: 61%;
    transform: rotate(199deg);
  }
}
@media (max-width: 600px) {
  .workshops {
    .elipseBlue {
      transform: rotate(0deg);
      width: 64%;
    }
    .elipsePink {
      top: 36%;
      height: 60%;
    }
    .elipsePurple {
      width: 130%;
      top: 12%;
      left: -23%;
      height: 75%;
    }
  }
}

.timetable {
  position: relative;
  & .ellipseContainer {
    height: 1708px;
    left: 0;
    // top: -10%;
    top: 0%;
  }
  .elipseBlue {
    left: 33%;
    top: 32%;
    width: 95%;
    height: 65%;
    transform: rotate(16deg);
  }
  .elipsePink {
    left: 51%;
    top: -6%;
    width: 75%;
    height: 70%;
  }
  .elipsePurple {
    top: 26%;
    left: 43%;
    width: 85%;
    height: 46%;
    transform: rotate(15deg);
  }
}

@media (max-width: 900px) {
  .timetable {
    .elipseBlue {
      left: 10%;
      top: 32%;
      width: 115%;
      height: 65%;
      transform: rotate(42deg);
    }
    .elipsePink {
      left: 35%;
      top: -11%;
      width: 85%;
      height: 90%;
      transform: rotate(307deg);
    }
    .elipsePurple {
      top: 27%;
      left: 3%;
      width: 125%;
      height: 46%;
      transform: rotate(27deg);
    }
  }
}

@media (max-width: 625px) {
  .timetable {
    .elipseBlue {
      left: 16%;
      top: 19%;
      width: 105%;
      height: 60%;
      transform: rotate(293deg);
    }
    .elipsePink {
      left: 25%;
      top: -4%;
      width: 115%;
      height: 54%;

      transform: rotate(38deg);
    }
    .elipsePurple {
      top: 10%;
      left: -4%;
      width: 145%;
      height: 56%;
      transform: rotate(7deg);
    }
  }
}

.aboutCourse {
  position: relative;
  & .ellipseContainer {
    height: 1628px;
    left: 0;
    top: -30%;
  }
  .elipseBlue {
    left: 0%;
    top: 14%;
    width: 75%;
    height: 60%;
  }
  .elipsePink {
    left: -19%;
    top: 24%;
    width: 75%;
    height: 58%;
    z-index: 3;
  }
  .elipsePurple {
    top: 0%;
    left: -20%;
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 1160px) {
  .aboutCourse {
    .elipseBlue {
      left: 12%;
      top: 12%;
      width: 85%;
      height: 80%;
    }
    .elipsePink {
      left: -25%;
      top: 24%;
      width: 85%;
      height: 68%;
      z-index: 3;
    }
    .elipsePurple {
      top: 0%;
      left: -20%;
      width: 80%;
      height: 80%;
    }
  }
}
@media (max-width: 834px) {
  .aboutCourse {
    .elipseBlue {
      top: 5%;
      left: -6%;
      width: 110%;
      height: 66%;
    }
    .elipsePink {
      top: 14%;
      width: 90%;
      height: 58%;
    }
    .elipsePurple {
      top: -10%;
    }
  }
}

.ourStudios {
  position: relative;
  & .ellipseContainer {
    height: 1608px;
    top: 17%;
    width: 100%;
  }
  .elipseBlue {
    left: 57%;
    top: 28%;
    width: 52%;
    height: 49%;
    transform: rotate(167deg);
    // top: calc(20% - 5vw);
  }

  .elipsePink {
    left: 27%;
    top: 5%;
    width: 85%;
    height: 78%;
    // top: calc(5% - 5vw);
  }

  .elipsePurple {
    top: -5%;
    left: 57%;
    width: 65%;
    height: 65%;
    // top: calc(0% - 5vw);
  }
}

@media (max-width: 1160px) {
  .ourStudios {
    .ellipseContainer {
      top: 10%;
    }
  }
}
@media (max-width: 955px) {
  .ourStudios {
    & .elipsePink {
      left: 27%;
      top: -5%;
      width: 75%;
      height: 68%;
      z-index: 3;
    }
    & .elipseBlue {
      left: 54%;
      top: 20%;
      width: 42%;
      height: 39%;
    }
    & .elipsePurple {
      top: -5%;
      left: 57%;
      width: 55%;
      height: 55%;
    }
  }
}
@media (max-width: 625px) {
  .ourStudios {
    .elipseBlue {
      width: 100%;
      height: 70vw;
      left: 28%;
      top: 24%;
    }
    .elipsePink {
      width: 110%;
      height: 55%;
      left: 16%;
      top: -3%;
    }
    .elipsePurple {
      width: 90vw;
      height: 70vw;
      top: 2%;
      left: 51%;
    }
  }
}

.teachers {
  position: relative;
  & .ellipseContainer {
    height: 1838px;
    top: 6%;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    width: 50%;
    height: 80%;
    left: -10%;
    top: -13%;
    transform: rotate(126deg);
  }

  .elipsePink {
    width: 80%;
    height: 90%;
    left: -10%;
    top: 18%;
    transform: rotate(310deg);
  }

  .elipsePurple {
    width: 90%;
    height: 80%;
    top: 3%;
    left: -23%;
  }
}
@media (max-width: 955px) {
  .teachers {
    .elipseBlue {
      width: 70%;
      height: 90%;
      left: -10%;
      top: -17%;
      transform: rotate(126deg);
    }
    .elipsePurple {
      width: 90%;
      height: 80%;
      top: -7%;
      left: -33%;
    }
    .elipsePink {
      width: 80%;
      height: 90%;
      left: -10%;
      top: 4%;
      transform: rotate(47deg);
    }
  }
}
@media (max-width: 700px) {
  .teachers {
    .elipseBlue {
      width: 80%;
      height: 50%;
      left: -12%;
      top: -7%;
      transform: rotate(318deg);
    }
    .elipsePurple {
      width: 99%;
      height: 25%;
      left: -26%;
      z-index: 2;
      top: 12%;
    }
    .elipsePink {
      width: 80%;
      height: 60%;
      top: 0%;
      z-index: 3;
      left: 0%;
      transform: rotate(240deg);
    }
  }
}

@media (max-width: 420px) {
  .teachers {
    .elipseBlue {
      width: 91%;
      top: -9%;
    }
    .elipsePurple {
      height: 33%;
      top: 10%;
    }
  }
}

.navBar {
  position: relative;
  & .ellipseContainer {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    width: 105%;
    height: 70%;
    left: -43%;
    top: 32%;
  }

  .elipsePink {
    width: 103%;
    height: 80%;
    left: -52%;
    top: 0%;
  }

  .elipsePurple {
    width: 143%;
    height: 120%;
    top: -6%;
    left: -35%;
    z-index: 3;
  }
}
.aboutСertificate {
  position: relative;
  & .ellipseContainer {
    height: 1500px;
    top: 0;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    width: 50%;
    height: 50%;
    left: 72%;
    top: 44%;
  }

  .elipsePink {
    width: 90%;
    height: 90%;
    left: 27%;
    top: 17%;
  }

  .elipsePurple {
    width: 60%;
    height: 100%;
    top: -15%;
    left: 60%;
  }
}
@media (max-width: 625px) {
  .aboutСertificate {
    .elipsePink {
      width: 100%;
      height: 80%;
      left: 17%;
      top: 25%;
    }
    .elipsePurple {
      height: 80%;
      top: 7%;
      z-index: 3;
    }
  }
}

body {
  position: relative;
}
.footer {
  position: relative;
  & .ellipseContainer {
    height: 900%;
    top: -800%;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    left: 2%;
    top: 12%;
    width: 70%;
    height: 100%;
  }

  .elipsePink {
    left: -16%;
    top: -10%;
    width: 65%;
    height: 59vw;
    height: 145%;
  }

  .elipsePurple {
    top: 0%;
    left: -20%;
    width: 85%;
    /* height: 70vw; */
    height: 95%;
  }
}
@media (max-width: 1320px) {
  .footer {
    & .ellipseContainer {
      height: 500%;
      top: -400%;
    }
    .elipsePurple {
      top: 10%;
      left: -20%;
      width: 85%;
      /* height: 70vw; */
      height: 84%;
    }
    .elipsePink {
      left: -16%;
      top: 10%;
      width: 65%;
      height: 59vw;
      height: 125%;
    }
  }
}

// @media (max-width: 475px) {
//   .footer {
//     .elipseBlue {
//       left: 22%;
//       top: 27%;
//       width: 90%;
//       height: 70%;
//     }
//     .elipsePink {
//       left: -26%;
//       top: 9%;
//       width: 85%;
//       height: 59vw;
//       height: 115%;
//     }
//     .elipsePurple {
//       top: -12%;
//       left: -20%;
//       width: 85%;
//       /* height: 70vw; */
//       height: 95%;
//       transform: rotate(165deg);
//     }
//   }
// }

.elipsePink,
.elipseBlue,
.elipsePurple {
  filter: blur(10px) !important;
  opacity: 1 !important;
}
