@import "/src/styles/variables.scss";

.ellipseContainer {
  position: absolute;
  z-index: -199;
  width: 100%;
  height: 1198px;
  overflow: hidden;
  background: transparent;
  mix-blend-mode: unset;
  // isolation: isolate;
}

#canvas,
.canvas,
canvas {
  z-index: 4;
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border: 0;
  // background-color: rgb(54 54 54 / 0%);
  filter: blur(0);
}

.elipseBlue {
  position: absolute;
  width: 849px;
  height: 1129px;
  left: -10%;
  top: -1%;
  // background: rgba(23, 27, 240, 0.55);
  background-color: transparentize($blue, 0.45);
  border: 0;
  filter: blur(100px);
  z-index: 2;
  border-radius: 50%;
}
.ellipseContainerHeader {
  & .elipseBlue {
    transform: rotate(312deg);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
  }
}

.elipsePink {
  position: absolute;
  width: 105%;
  height: 749px;
  left: -1%;
  top: -19%;
  // background: rgba(255, 30, 152, 0.7);
  background-color: transparentize($pink, 0.25);
  border: 0;
  filter: blur(100px);
  z-index: 1;
  border-radius: 50%;
}

.elipsePurple {
  position: absolute;
  width: 739px;
  height: 975px;
  top: -3%;
  left: 58%;
  border: 0;
  filter: blur(100px);
  background-color: $purple;
  z-index: 1;
  border-radius: 50%;
  transform: rotate(255deg);
}

.workshops {
  & .ellipseContainer {
    height: 1428px;
    left: 0;
    top: -15%;
  }
  .elipseBlue {
    width: 700px;
    height: 700px;
    left: -10%;
    top: 10%;
    border-radius: 50%;
  }

  .elipsePink {
    width: 700px;
    height: 700px;
    left: -10%;
    top: 35%;
  }

  .elipsePurple {
    width: 500px;
    height: 500px;
    top: 34%;
    left: 10%;
  }
}

.timetable {
  position: relative; // lomaet??
  & .ellipseContainer {
    height: 1628px;
    left: 0;
    top: -10%;
  }
  .elipseBlue {
    width: 750px;
    height: 600px;
    left: 60%;
    top: 57%;
    // transform: rotate(0deg);
  }

  .elipsePink {
    width: 750px;
    height: 750px;
    left: 65%;
    top: 12%;
  }

  .elipsePurple {
    width: 650px;
    height: 550px;
    top: 44%;
    left: 68%;
  }
}

.aboutCourse {
  position: relative;
  & .ellipseContainer {
    height: 1628px;
    left: 0;
    top: -30%;
  }
  .elipseBlue {
    width: 650px;
    height: 650px;
    left: 14%;
    top: 24%;
  }

  .elipsePink {
    width: 650px;
    height: 650px;
    left: -5%;
    top: 31%;
  }

  .elipsePurple {
    width: 550px;
    height: 550px;
    top: 12%;
    left: -10%;
  }
}
.ourStudios {
  position: relative;
  & .ellipseContainer {
    height: 1608px;
    top: 22%;
    width: 100%;
  }
  .elipseBlue {
    width: 750px;
    height: 750px;
    left: 54%;
    top: 35%;
  }

  .elipsePink {
    width: 750px;
    height: 650px;
    left: 47%;
    top: 29%;
  }

  .elipsePurple {
    width: 650px;
    height: 650px;
    top: 10%;
    left: 61%;
  }
}
.teachers {
  position: relative;
  & .ellipseContainer {
    height: 1838px;
    top: 6%;
    width: 80%;
    left: 0;
  }
  .elipseBlue {
    width: 670px;
    height: 830px;
    left: 12%;
    top: 12%;
  }

  .elipsePink {
    width: 750px;
    height: 950px;
    left: -10%;
    top: 32%;
  }

  .elipsePurple {
    width: 731px;
    height: 850px;
    top: 7%;
    left: -30%;
  }
}
.elipseWrapper {
  position: relative;
  & .ellipseContainer {
    // height: 150%;
    // top: -50%;
    // width: 100%;
    // left: 0;

    min-height: 150%;
    height: 150%;
    top: -50%;
    width: 100%;
    left: 0px;
    height: 2733px;
    max-height: 150%;
  } //????????????????????????????????
  .elipseBlue {
    width: 670px;
    height: 590px;
    left: 75%;
    top: 41%;
  }

  .elipsePink {
    width: 860px;
    height: 850px;
    left: 46%;
    top: 23%;
  }

  .elipsePurple {
    width: 731px;
    height: 750px;
    top: 13%;
    left: 69%;
  }
  // ------

  .bottomBlue {
    width: 870px;
    height: 610px;
    left: 0%;
    top: 76%;
  }

  .bottomPink {
    width: 760px;
    height: 750px;
    left: 0;
    top: 51%;
  }

  .bottomPurple {
    width: 711px;
    height: 649px;
    top: 60%;
    left: 32%;
  }
}

// .navBar.active{
.navBar {
  position: relative;
  & .ellipseContainer {
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    width: 670px;
    height: 830px;
    left: 12%;
    top: 12%;
  }

  .elipsePink {
    width: 750px;
    height: 950px;
    left: -10%;
    top: 32%;
  }

  .elipsePurple {
    width: 731px;
    height: 850px;
    top: 7%;
    left: -30%;
  }
}
.aboutСertificate {
  position: relative;
  & .ellipseContainer {
    height: 1400px;
    top: 0;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    width: 670px;
    height: 830px;
    left: 62%;
    top: 30%;
  }

  .elipsePink {
    width: 750px;
    height: 570px;
    left: 37%;
    top: 31%;
  }

  .elipsePurple {
    width: 731px;
    height: 850px;
    top: 17%;
    left: 70%;
  }
}
.footer {
  position: relative;
  & .ellipseContainer {
    height: 890%;
    top: -790%;
    width: 100%;
    left: 0;
  }
  .elipseBlue {
    width: 670px;
    height: 830px;
    left: 12%;
    top: 12%;
  }

  .elipsePink {
    width: 750px;
    height: 950px;
    left: -10%;
    top: 32%;
  }

  .elipsePurple {
    width: 731px;
    height: 850px;
    top: 7%;
    left: -30%;
  }
}
