@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/GilroyBold/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/GilroyBold/gilroy-bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/GilroyBold/gilroy-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/GilroyBold/gilroy-bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/GilroyBold/gilroy-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/GilroyBold/gilroy-bold.svg#gilroy-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/GilroyRegular/gilroy-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/GilroyRegular/gilroy-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/GilroyRegular/gilroy-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/GilroyRegular/gilroy-regular.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/GilroyRegular/gilroy-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/GilroyRegular/gilroy-regular.svg#gilroy-regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
