@import "/src/styles/variables.scss";
.form_wrapper {
  display: flex;
  background-color: $blue;
  border-radius: 30px;
}
.form {
  padding-bottom: 130px;
}
.form_elements {
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  font-size: 15px;
  position: relative;
}
.form_button {
  position: absolute;
  background-color: $pink;
  top: 100%;
  transform: translate(0, -50%);
  &:hover {
    box-shadow: 0 0 15px 10px rgba($pink, 0.4);
  }
}

.form_elements_inputs {
  display: flex;
  flex-direction: column;
  position: relative;
  & .before {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 0.5px;
      width: 100%;
      background: $mainTextColor;
      top: -30px;
    }
  }
  & input {
    margin-bottom: 30px;
    padding: 15px 2px;
    border: none;
    text-decoration: dashed;
    background-color: inherit;
    outline: none;
    &::placeholder {
      color: $mainTextColor;
    }
  }
}

.form_subTitle {
  padding: 100px 5px 100px 73px;
  max-width: 50%;
  text-align: left;
  margin: 0;
  position: relative;
  z-index: 3;
  & span {
    white-space: nowrap;
  }
}

.agreement {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & > span:first-child {
    position: relative;
    left: 15px;
  }
}

.agreement {
  line-height: 25px;
  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: $mainTextColor;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.agreement input:checked ~ .checkmark:after {
  display: block;
}

.agreement .checkmark:after {
  background: url("../images/checkbox.svg");
  width: 17px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form_subTitle_elipse::before {
  width: 130% !important;
  border: 4px solid $pink;
  left: -15%;
  top: 0;
  transform: matrix(0.98, -0.11, 0.2, 0.99, 0, 0);
}

.form_subTitle_elipse::after {
  width: 130% !important;
  border: 4px solid $pink;
  left: -15%;
  top: 0;
  transform: matrix(0.99, -0.03, 0.13, 1, 0, 0);
}

@media (max-width: 1160px) {
  .form_wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 190px;
  }
  .form_subTitle {
    padding: 70px 76px 60px 76px;
    margin-bottom: 20px;
    text-align: center;
    max-width: none;
  }
  .form_elements {
    padding: 0 calc(34% - 2vw);
  }

  .form_button {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 833px) {
  .form_elements {
    font-size: 14px;
  }
}

@media (max-width: 695px) {
  .form_wrapper {
    padding-bottom: 100px;
  }

  .form_button {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    & .form_send {
      font-size: 13.5px;
    }
  }
}

@media (max-width: 625px) {
  .form_subTitle {
    padding: 50px 28px 35px 28px;
  }
  .form_elements {
    font-size: 12px;
  }

  .form_elements {
    padding: 0 60px;
  }
}
