@import "/src/styles/variables.scss";
.form_wrapper {
  display: flex;
  background-color: $blue;
  border-radius: 30px;
}
.form {
  padding-bottom: 130px;
}
.form_elements {
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  font-size: 15px;
  position: relative;
}

.form_button {
  position: absolute;
  background-color: $pink;
  top: 100%;
  transform: translate(0, -50%);
  & .form_send {
    & div {
      line-height: 0.7;
      top: 0px;
    }
  }
}

.form_elements_inputs {
  display: flex;
  flex-direction: column;
  & * {
    margin-bottom: 30px;
  }
  & input[type="text"] {
    padding: 15px 2px;
    border: none;
    border-bottom: 1px solid $mainTextColor;
    background-color: inherit;
    outline: none;
    &::placeholder {
      color: $mainTextColor;
    }
  }
}
// .input_checkbox {
//   & label {
//     & span {
//       text-decoration: underline;
//     }
//   }
// }
.form_subTitle {
  padding: 100px 5px 100px 73px;
  max-width: 50%;
  text-align: left;
  margin: 0;
  position: relative;
  z-index: 3;
  & span {
    white-space: nowrap;
  }
}

// --------------------------------------------
.agreement {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  //   font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & > span:first-child {
    position: relative;
    left: 15px;
  }
}

/* Hide the browser's default checkbox */
.agreement {
  line-height: 25px;
  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: $mainTextColor;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.agreement input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.agreement .checkmark:after {
  background: url("../images/checkbox.svg");
  width: 17px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_subTitle_elipse::before {
  position: absolute;
  border: 4px solid #ff1e98;
  left: 9.49%;
  right: 56.73%;
  top: 47.31%;
  bottom: 58.85%;
  transform: matrix(0.98, -0.11, 0.2, 0.99, 0, 0);
  // width: 486.39px;
  // height: 107.63px;
  width: 33vw;
  height: 7.5vw;
}

.form_subTitle_elipse::after {
  border: 4px solid $pink;
  position: absolute;
  left: 9.03%;
  right: 56.07%;
  top: 47.14%;
  bottom: 59.02%;
  transform: matrix(0.99, -0.03, 0.13, 1, 0, 0);
  width: 502.64px;
  height: 107.85px;
  width: 35.3vw;
  height: 7.6vw;
}

@media (max-width: 1160px) {
  .form_wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 190px;
  }
  .form_subTitle {
    padding: 70px 76px 60px 76px;
    margin-bottom: 20px;
    text-align: center;
    max-width: none;
  }
  .form_elements {
    padding: 0 calc(34% - 2vw);
  }

  .form_button {
    top: calc(200% - 190px + 25px);
    left: 50%;
    transform: translate(-50%, 0);
  }

  .form_subTitle_elipse::after {
    left: 39.09%;
    right: 13.57%;
    top: 36.57%;
    bottom: 58.65%;
    width: 352.17px;
    height: 99.5px;
    transform: matrix(0.99, -0.15, 0.15, 0.99, 0, 0);
    width: 42vw;
    height: 11.2vw;
  }
  .form_subTitle_elipse::before {
    left: 38.44%;
    right: 12.84%;
    top: 38.41%;
    bottom: 58.8%;
    transform: matrix(1, -0.04, 0.1, 1, 0, 0);
    width: 362.48px;
    height: 100.29px;
    width: 44vw;
    height: 11.4vw;
  }
}

@media (max-width: 833px) {
  .form_elements {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .form_wrapper {
    padding-bottom: 100px;
  }
  // .aboutUs_button {
  //   .watchVideo {
  //     & div {
  //       line-height: 2.6;
  //       top: 0;
  //     }
  //   }
  // }
  .form_button {
    // top: calc(200% - 100px + 54px);
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    & .form_send {
      & div {
        line-height: 2.6;
        top: 0;
      }
    }
  }
}

@media (max-width: 625px) {
  .form_subTitle {
    padding: 50px 28px 35px 28px;
  }
  .form_elements {
    font-size: 12px;
  }

  .form_elements {
    padding: 0 60px;
  }

  .form_subTitle_elipse::after {
    left: 45%;
    right: 0;
    top: 42%;
    bottom: 0;
    transform: matrix(0.99, -0.03, 0.11, 1, 0, 0);
    width: 226px;
    height: 56px;
    width: 40vw;
    height: 8.4vw;
  }

  .form_subTitle_elipse::before {
    left: 44%;
    right: 0;
    top: 42%;
    bottom: 0;
    transform: matrix(0.98, -0.13, 0.18, 0.99, 0, 0);
    width: 219.97px;
    height: 53px;
    width: 40vw;
    height: 8.2vw;
  }
}
@media (max-width: 442px) {
  .form_subTitle {
    & span {
      white-space: unset;
    }
  }
  .form_subTitle_elipse::after {
    left: 6.67%;
    right: 32.8%;
    top: 49.85%;
    bottom: 58.64%;
    transform: matrix(0.99, -0.03, 0.11, 1, 0, 0);
    width: 226px;
    height: 56px;
    width: 60vw;
    height: 14.4vw;
  }
  .form_subTitle_elipse::before {
    left: 7.47%;
    right: 33.87%;
    top: 50.96%;
    bottom: 58.53%;
    transform: matrix(0.98, -0.13, 0.18, 0.99, 0, 0);
    width: 219.97px;
    height: 53px;
    width: 58vw;
    height: 13.9vw;
  }
}
