@import "/src/styles/variables.scss";

.main_title {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  color: $mainTextColor;
  text-align: center;
  line-height: calc(4.9rem + 4vw);
  margin-bottom: 18px;
  & div {
    font-size: calc(4.9rem + 4vw);
    color: $mainTextColor;
  }
}

.main {
  position: relative;
  padding-top: 61px;
}
.main_img {
  z-index: 1;
  width: 579px;
  height: 571px;
  position: absolute;
  top: 0;
  right: -119px;
  & img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}
.main_subTitle {
  color: $mainTextColor;
  font-weight: 400;
  line-height: 25px;
  position: relative;
  font-size: 15px;
  z-index: 2;
  // font-family: $fontMainTextDesctop;
}
.main_container {
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 0 0 285px 0;
}

.main_button {
  background-color: $pink;
  left: -31px;
  bottom: 257px;
  z-index: 2;
  // .main_button {
  & .masterСlass {
    // bottom: -100px;
    & div {
      // line-height: 2.1;
      // top: 11px;
      line-height: 1.3;
      top: 4px;
    }
  }
  // }
}

@media (max-width: 1160px) {
  .main_img {
    top: -250px;
    right: 50%;
    transform: translate(50%, 50%);
  }
  .main_container {
    padding: 459px 0 180px 0;
  }
  .main_button {
    position: static;
    // margin: 50px 5px 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .main_subTitle {
    font-size: 14px;
  }
  .main {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .main_button {
    & .masterСlass {
      & div {
        line-height: 3.2;
        top: 2px;
      }
    }
  }
}

@media (max-width: 655px) {
  .main {
    padding-top: 60px;
  }
  .main_container {
    padding: 294px 0 110px 0;
  }
  .main_img {
    width: 435px;
    height: 433px;
  }
}

@media (max-width: 475px) {
  .main_subTitle {
    line-height: 15.5px;
  }
  .main_subTitle {
    font-size: 12px;
  }
  .main_img {
    width: 335px;
    height: 333px;
  }
  .main_container {
    padding: 180px 0 110px 0;
  }
  .main {
    padding-top: 84px;
  }
}
