@import "/src/styles/variables.scss";

.contacts {
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 0;
}
.contacts_subTitle {
  position: absolute;
  text-align: left;
}
.map {
  background-color: #3c2f41;
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 30px;
  height: 39.8vw;
  min-height: 293px;
  // z-index: -1;
  transition: 0.2s;
  &.active {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 12312312412412;

    // width: 70%;
    // height: 70%;
    // background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    // opacity: 1;
    pointer-events: all;
  }
  @media (max-width: 800px) {
    margin-right: -22px;
  }
  @media (max-width: 625px) {
    width: calc(50% + 27px);
    margin-right: 0;
    height: auto;
    min-height: auto;
    z-index: -12;
    margin-left: -27px;
  }
  & div {
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
  }
  & iframe {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    border: none;
    filter: hue-rotate(90deg) brightness(100%) invert(95%);
    mix-blend-mode: luminosity;
    @media (max-width: 625px) {
      // width: auto;
      height: 100%;
    }
  }
  &.active {
    border-radius: 0;
    & div {
      border-radius: 0;
    }
    & iframe {
      // width: 80%;
      // height: 80%;
      border-radius: 0;
      // transform: scale(1.1);
    }
  }
}
// .map {
//   &.active {
//     & iframe {
//       width: 80%;
//       height: 80%;
//       transform: scale(1.5);
//     }
//   }
// }
.contactsWrapper {
  display: flex;
  width: auto;
  align-items: flex-end;
  gap: 25px;
  @media (max-width: 625px) {
    gap: 0;
    align-items: initial;
  }
}
.info {
  //     padding: 3.5vw 6vw;
  border-radius: 30px;
  background-color: $blue;
  height: min-content;
  width: 100%;
  max-width: 34vw;
  min-width: 335px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.2vw;
  padding: 6.6vw 5vw;
  @media (max-width: 1160px) {
    padding: 5vw 3.2vw;
  }
  @media (max-width: 743px) {
    width: 100%;
    max-width: 100%;
    min-width: 168px;
  }
  @media (max-width: 625px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 13px 20px;
    width: 50%;
    max-width: 100%;
    min-width: 0;
    gap: 20px;
    padding: calc(15vw - 11%) 6vw;
  }
  & a {
    text-decoration: none;
  }
  & div {
    display: inline;
    height: min-content;
    flex: 1 0 44%;
    @media (max-width: 625px) {
      width: fit-content;
    }
    & p {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media (max-width: 833px) {
        font-size: 14px;
      }
      @media (max-width: 625px) {
        gap: 10px;
      }
      & span:first-child {
        font-weight: 700;
      }
    }
  }
}
.contactsIcons {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 5px;

  & img {
    @media (max-width: 833px) {
      width: 25px;
    }
  }
  @media (max-width: 625px) {
    gap: 10px;
    padding-top: 0;
  }
}

@media (max-width: 955px) {
  .contacts_subTitle {
    position: static;
    text-align: center;
  }
}
//

.map::after {
  content: url("../images/arrow.svg");
  position: absolute;
  z-index: 122312312;
  right: 25px;
  bottom: 25px;
  font-size: 20px;
  transform: scale(1);
  transition: 0.3s all;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    transition: 0.3s all;
  }
}
.map.active::after {
  content: url("../images/arrow.svg");
}

.iframe {
  transform: scale(1);
  transition: 0.2s all;
}
// .iframe::before {
//   content: url("../images/arrow.svg");
//   font-size: 30px;
// }
.modalContent.active {
}
.contacts_subTitle_elipse {
  position: relative;
}
.contacts_subTitle_elipse::before {
  // position: absolute;
  border: 4px solid $blue;
  left: -14.93%;
  right: 60.83%;
  top: -1.44%;
  bottom: 3.6%;
  transform: matrix(0.98, -0.1, 0.21, 0.99, 0, 0);
  // width: 39vw;
  // height: 8vw;
  width: 130%;
  height: 110%;
}

.contacts_subTitle_elipse::after {
  border: 4px solid $blue;
  left: -14.43%;
  right: 60.09%;
  top: -6.61%;
  bottom: 3.77%;
  transform: matrix(0.99, -0.03, 0.14, 1, 0, 0);
  // width: 38.4vw;
  // height: 8vw;
  width: 130%;
  height: 110%;
}

// @media (max-width: 833px) {
//   .contacts_subTitle_elipse::before {
//     width: 49vw;
//     height: 11vw;
//   }

//   .contacts_subTitle_elipse::after {
//     width: 48.4vw;
//     height: 11vw;
//   }
// }

// @media (max-width: 625px) {
//   .contacts_subTitle_elipse::after {
//     width: 41.4vw;
//     height: 9vw;
//     width: 130%;
//     height: 110%;
//   }
//   .contacts_subTitle_elipse::before {
//     width: 42vw;
//     height: 8vw;
//     width: 130%;
//     height: 110%;
//   }
// }
