@import "/src/styles/variables.scss";

.ourStudiosSubTitle {
  position: relative;
  & span {
    white-space: nowrap;
  }
}
.ourStudiosSubTitle_elipse {
}
.ourStudiosSubTitle_elipse::before {
  left: 34.82%;
  right: 25.9%;
  top: 8%;
  bottom: 92.18%;
  transform: matrix(0.98, -0.1, 0.22, 0.99, 0, 0);
  border: 4px solid $pink;
  width: 38vw;
  height: 7vw;
}

.ourStudiosSubTitle_elipse::after {
  border: 4px solid $pink;
  left: 33.33%;
  right: 30.23%;
  top: 7.84%;
  bottom: 91.34%;
  transform: matrix(0.99, -0.03, 0.14, 1, 18, 5);
  // width: 524px;
  // height: 103.68px;
  width: 38vw;
  height: 7vw;
}

.ourStudiosWrapper_topContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  & img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
  }
  & p {
    padding: 0 50px;
    line-height: 25px;
    text-align: center;
    min-width: 385px;
    max-width: 530px;
    font-size: 15px;
  }
}
.ourStudiosWrapper_topContent_leftImg {
  position: relative;
  bottom: 200px;
  transform: translate(-20px, 0);
}
.ourStudiosWrapper_topContent_rigthImg {
  position: relative;
  bottom: 100px;
  transform: translate(20px, 0);
}

.ourStudiosWrapper_bottomContent {
  display: flex;
  justify-content: center;
  & div {
    & img {
      width: 100%;
      height: auto;
      border-radius: 25px;
    }
  }
  & .ourStudiosWrapper_bottomContent_leftImg {
    transform: matrix(0.97, -0.22, 0.22, 0.97, -30, 0);
    margin: 0 auto;
  }
  & .ourStudiosWrapper_bottomContent_rigthImg {
    transform: matrix(0.95, 0.31, -0.31, 0.95, 0, 0);
    margin: 0 auto;
  }
}

// @media (max-width: 1092px) {
//   .ourStudiosWrapper_topContent_leftImg {
//     position: relative;
//     bottom: 200px;
//     transform: translate(-20px, 0);
//   }
//   .ourStudiosWrapper_topContent_rigthImg {
//     position: relative;
//     bottom: 100px;
//     transform: translate(20px, 0);
//   }
// }
@media (max-width: 869px) {
  .ourStudiosWrapper_topContent_leftImg,
  .ourStudiosWrapper_topContent_rigthImg {
    width: 175.08px;
  }
  .ourStudiosWrapper_topContent_rigthImg {
    height: 233.96px;
  }
  .ourStudiosWrapper_topContent_leftImg {
    height: 247.93px;
  }
  .ourStudiosWrapper_bottomContent {
    padding-top: 55px;
  }

  .ourStudiosWrapper_topContent {
    & img {
      width: 175.08px;
    }
    & p {
      font-size: 14px;
    }
    & .ourStudiosWrapper_topContent_rigthImg {
      height: 233.96px;
      bottom: 25px;
    }
    & .ourStudiosWrapper_topContent_leftImg {
      height: 247.93px;
      bottom: 125px;
    }
  }
}

@media (max-width: 726px) {
  .ourStudios {
    height: 2000px;
  }
  // deelte
  .ourStudiosSubTitle {
    padding: 0 $mobileContainerPadding + px;
  }
  .ourStudiosWrapper_topContent {
    position: relative;
    & p {
      max-width: none;
      padding: 0 $mobileContainerPadding + px;
      font-size: 12px;
    }
    & .ourStudiosWrapper_topContent_leftImg,
    .ourStudiosWrapper_topContent_rigthImg {
      position: absolute;
      bottom: 0;
    }
    & .ourStudiosWrapper_topContent_leftImg {
      top: 126%;
      left: -44px;
    }
    & .ourStudiosWrapper_topContent_rigthImg {
      right: -30px;
      top: 400%;
    }
  }

  .ourStudiosWrapper_bottomContent {
    position: relative;
    & div {
      & img {
        width: 100%;
        height: auto;
        border-radius: 25px;
      }
    }
    & .ourStudiosWrapper_bottomContent_leftImg {
      width: 175px;
      min-width: 105px;
      min-height: 156px;
      height: 256px;
      transform: translate(0, 0);
      position: absolute;
      top: 1000%;
      height: auto;
      left: -30.96px;
    }
    & .ourStudiosWrapper_bottomContent_rigthImg {
      position: absolute;
      width: 255px;
      min-width: 195px;
      min-height: 156px;
      height: 256px;
      transform: rotate(9.86deg);
      height: auto;
      top: 250%;
    }
  }
}
