@import "/src/styles/variables.scss";

.teachers_subTitle {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  & span {
    white-space: nowrap;
  }
}

.teachers_subTitle_elipse::before {
  left: -10%;
  top: -5%;
  border: 4px solid $pink;
  transform: matrix(0.97, -0.08, 0.27, 1, 0, 0);
}

.teachers_subTitle_elipse::after {
  left: -10%;
  top: -5%;
  transform: matrix(0.99, -0.02, 0.17, 1, 0, 0);
  border: 4px solid $pink;
}
