@import "/src/styles/variables.scss";

.timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.timetable_button {
  background-color: $pink;
  z-index: 2;
  position: static;
  & .timetableMasterClass {
    font-size: 13.7px;
    & div {
      // line-height: 3;
      // top: 17px;
    }
  }
}

@media (max-width: 695px) {
  .timetable_button {
    .timetableMasterClass {
      font-size: 12.5px;

      // & div {
      //   line-height: 3;
      //   top: -3px;
      // }
      // & div {
      //   line-height: 5;
      //   top: 11px;
      // }
    }
  }
  // .timetable_button {
  //   .timetableMasterClass {
  //   }
  // }
}
