$fontMainTextDesctop: "Gilroy-Regular";
$titleFont: normal normal bold 0 Playfair Display, serif;

$mainTextColor: #ffffff;
$blue: #161aef;
$pink: #ff1e98;
$purple: #8509a6;
$black: #000000;

$desctopContainerPadding: 120;
$tabletContainerPadding: 60;
$mobileContainerPadding: 22;
$SmallMobileContainerPadding: 10;
