@import "/src/styles/variables.scss";

.workshops_subTitle_elipse {
  position: relative;
}

.workshops_subTitle_elipse::before {
  left: -9.5%;
  top: -25%;
  transform: matrix(0.99, -0.15, 0.15, 0.99, 0, 0);
  height: 200% !important;
  border: 4px solid $blue;
}

.workshops_subTitle_elipse::after {
  left: -9%;
  top: -30%;
  transform: matrix(1, -0.04, 0.1, 1, 0, 0);
  height: 200% !important;
  border: 4px solid $blue;
}

.workshops {
  position: relative;
}

.workshops_button {
  background-color: $pink;
  position: absolute;
  top: 25%;
  left: calc(24% - 5vw);
  z-index: 2;
  & .buy_workshops {
    & div {
      line-height: 2;
      top: 11px;
    }
  }
}
.swiper-container {
  position: relative;
  left: 27%;
  max-height: 700px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  overflow-x: hidden;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: left;
  // min-width: 350px;
  min-width: 315px;

  &:nth-child(even) {
    margin-top: 100px;
  }
  & p {
    font-size: 15px;
  }
  & img {
    max-width: 380px;
    min-width: 100%;
    height: 364px;
    width: 100%;
    border-radius: 25px;
  }
  & * {
    margin-bottom: 7px;
    line-height: 25px;
  }
  & h3 {
    font-size: calc(5rem - 3.2vw);
    text-transform: uppercase;
    font-size: 30px;
  }
}
.swiper-slide-pictureTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .price {
    margin-right: 20px;
  }
}
.swiper-button-container {
  position: absolute;
  left: 50%;
  // bottom: 50px;
  & .swiper-button-prev {
    position: relative;
    right: 140px;
    top: 50px;
  }
  & .swiper-button-next {
    position: relative;
    left: 140px;
    top: 28px;
  }
}
.swiper-pagination {
  position: relative;
  background-color: #ffffff;
  left: 27% !important;
  width: 83% !important;
  height: 3px !important;
  & .swiper-pagination-progressbar-fill {
    background-color: $pink;
    // height: 3px !important;
  }
  // &::before {
  //   content: "";
  //   width: 29%;
  //   height: 3px;
  //   background-color: white;
  //   position: absolute;
  //   right: -27%;
  // }
}
@media (min-width: 1401px) {
  .swiper-container {
    max-height: 1000px;
    // VOPROSIKI
  }
  .swiper-slide {
    max-width: 100%;
    // margin-right: 35px;
    // padding-left: 17.5px;
    // padding-right: 17.5px;
    & img {
      min-width: 100%;
      border-radius: 35px;
      height: auto;
    }
  }
}

@media (max-width: 1200px) {
  .swiper-container {
    position: static;
    // position: relative;
    left: 0;
    margin-right: -299px;
  }
  .swiper-slide {
    min-width: 335px;
    &:nth-child(even) {
      margin-top: 0;
    }
    & img {
      max-width: 335px;
      // height: 347px;
      height: 400px;
    }
    // .swiper-slide-blank {
    //   display: none;
    // }
  }

  @media (max-width: 833px) {
    .swiper-container {
      // position: static;
      // // position: relative;
      // left: 0;
      // margin-right: -299px;
    }
    .swiper-slide {
      min-width: 315px;
      & img {
        // max-width: 335px;
        height: 347px;
      }
      margin-right: 10px;
      & p {
        font-size: 14px;
      }

      & *:not(:last-child) {
        margin-bottom: 7px;
        line-height: 25px;
      }
      & h3 {
        font-size: calc(3rem - 1.8vw);
        font-size: 24px;
      }
    }
  }
  .workshops_button {
    position: static;
    margin: 0 auto;
    margin-top: 50px;
  }
  .swiper-pagination {
    position: static;
    background-color: #ffffff;
    margin-top: 25px;
    left: 0;
    width: 100% !important;
    height: 3px !important;
    // &::before {
    //   display: none;
    // }
  }
  .workshops_subTitle_elipse {
    &::after,
    &::before {
      top: 0;
      height: 160% !important;
    }
  }
}
@media (max-width: 700px) {
  .workshops_button {
    & .buy_workshops {
      & div {
        line-height: 1;
        top: -15px;
      }
    }
  }
  // .workshops_button {
  //   & .buy_workshops {
  //     & div {
  //       line-height: 4.2;
  //       top: 9px;
  //     }
  //   }
  // }

  .swiper-slide-blank {
    display: none;
  }
  .swiper-container {
    margin-right: 0;
    margin-left: 0;
  }
  .swiper-slide_subTitleWrapper {
    max-width: 335px;
    min-width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    // margin-right: 0;
    // padding: 0 4px;
    // padding: 0px 15%;
    min-width: 100%;
    & img {
      min-width: 335px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 625px) {
  .swiper-container {
    margin-right: 0;
    margin-left: 0;
  }
  .swiper-slide_subTitleWrapper {
    // max-width: 335px;
    // min-width: 335px;
    // margin-left: auto;
    // margin-right: auto;
  }
  .swiper-slide {
    // min-width: 100%;
    // & img {
    //   min-width: 335px;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
    & h3 {
      font-size: 18px;
    }
  }
}
@media (max-width: 400px) {
  .swiper-slide {
    // padding-left: 0;
    // padding-right: 0;

    & img {
      min-width: 100%;
      max-width: none;
    }
    & .swiper-slide_subTitleWrapper {
      min-width: 100%;
      max-width: none;
    }
    img {
      // min-width: 285px !important;
      // max-width: 100px !important;
      //ПОЧИРИКАТЬ?
    }
  }
}
